---
interface Props {
  ref : string,
  id? : string
}
const { ref, id } = Astro.props
---

<a id={id} class="border p-1 border-border hover:border-white/50 duration-150 transition rounded-md cursor-pointer" href={ref}>
  <slot />
</a>