---
import SunIcon from '../../components/icons/SunIcon.astro'
import GithubIcon from '../../components/icons/GithubIcon.astro'
import HeaderLink from './HeaderLink.astro'
---

<header class="w-full shadow-xl fixed top-0 backdrop-blur-sm border-b border-border z-10">
  <div class="w-full  mx-auto max-w-screen-xl px-8 py-2 flex justify-between items-center">
    <div class="flex gap-1 flex-col">
      <div class="flex gap-2 items-center">
        <a href="." class="brightness-90 hover:brightness-100 transition duration-150 capitalize">Depth Decorator</a>
        <span class="text-xs text-text-accent px-2 py-1 rounded-full bg-teal-100/20">v1.0.0</span>
      </div>
        <span class="text-xs text-text-off">tailored for modern React components</span>
    </div>
    <aside class="flex gap-2">
      <nav class="flex gap-2 items-center">
        <HeaderLink ref='https://youtube.com'>
          <SunIcon />
        </HeaderLink>
        <HeaderLink ref='https://youtube.com'>
          <GithubIcon />
        </HeaderLink>
      </nav>
      <button class="border border-border flex rounded-md gap-2 px-3 py-1 items-center">
        <span class="capitalize">quick search...</span>
        <span class="text-sm bg-text-off/20 rounded-md px-2 py-1">^K</span>
      </button>
    </aside>
  </div>
</header>