---
import Layout from '../layouts/Layout.astro';

import Blob from '../components/Blob.astro'
import Header from '../common/header/index.astro'
import Hero from '../components/Hero.astro';
---

<Layout title="Welcome to Astro.">
  <Header />
  <div class="absolute left-0 h-1/2 w-1/2 blur-[200px] opacity-50 pointer-events-none">
    <Blob />
  </div>
	<main class="bg-red-900/10 max-w-screen-xl">
		<Hero />
	</main>
</Layout>
