---
import Layout from '../layouts/Layout.astro';

import Blob from '../components/Blob.astro'
import Header from '../common/header/index.astro'
import Hero from '../components/Hero.astro';
import CodeSnippet from '../components/CodeSnippet.astro';
import { Prism } from '@astrojs/prism';
---

<Layout title="Welcome to Astro.">
  <Header />
  <div class="absolute left-0 h-1/2 w-1/2 blur-[200px] opacity-50 pointer-events-none">
    <Blob />
  </div>
	<main class="w-full border-b border-white/10">
		<Hero />
	</main>
  <section class="border-b w-full bg-gradient-to-t from-purple-800/20 to-transparent to-65% border-white/10">
    <section class="p-8 grid grid-cols-2 bg-red-900/10 max-w-screen-xl mx-auto min-h-screen">
      <div class="bg-red-400"></div>
      <div class="bg-red-300 p-4 flex items-center justify-center">
        <CodeSnippet lang="javascript" filename='./DepthLayer.jsx' code=`
...
variants: {
  variant: {
    default: 'before:border-black/40 after:border-white/50',
    inner: 'before:border-[hsl(0deg,0%,85%)]'
  },
  light: {
    radial: 'before:bg-[...]',
    linear: 'before:bg-[...]',
    none: ''
  },
  lightDirection: {
    top: 'drop-shadow-[0px_4px_2px_rgba(0,0,0,0.15)]',
    topLeft: 'before:border-r after:border-l ',
    topRight: 'before:border-l after:border-r '
  }
...
**not the actual code**
        `/>
        <!-- <Prism lang="ts" code={`const foo = 'bar';`}/> -->
      </div>
    </section>
  </section>
  <section class="bg-red-900/10 border-b borde-white/10">
    <section class="grid grid-cols-2 max-w-screen-xl min-h-screen">
      <div></div>
      asdsahdsad
    </section>
  </section>
</Layout>