---
import { Prism } from '@astrojs/prism';
import '../styles/highlightCode.css'

const {
    lang, code, filename = "./DepthLayer.tsx", fileExtension = ".tsx"
} = Astro.props;

---
<div class=`
relative [&>span]:block rounded-xl overflow-hidden
  before:absolute before:rounded-[inherit] before:pointer-events-none before:inset-0 before:border-b 
  after:absolute after:rounded-[inherit] after:pointer-events-none after:border-t after:inset-0 shadow
  before:border-black/40 after:border-white/50
  before:opacity-60 after:opacity-60
  before:border-l after:border-r drop-shadow-[-4px_4px_2px_rgba(0,0,0,0.15)]
  before:bg-[linear-gradient(225deg,rgba(255,255,255,0.15)_15%,rgba(0,0,0,0.25)_80%)]
`>
<figure class="code-block my-0 mx-auto">
  <figcaption class="header">
    <span class="filename">
        {filename}
    </span>
    <span class="lang">
        {fileExtension}
    </span>
  </figcaption>

    <Prism
    lang={lang}
    code={code}
    />
</figure>
</div>
