---
import RigthArrowIcon from './icons/RigthArrowIcon.astro';
import GithubIcon from './icons/GithubIcon.astro';
import TerminalIcon from './icons/TerminalIcon.astro'
import ButtonLink from './ButtonLink.astro';
---
<section class="p-4 relative grid grid-cols-2 items-center min-h-screen">
  <article class="flex flex-col gap-4">
    <h2 class="text-4xl font-black text-pretty">Enhance your component's aesthetics effortlessly with our
      <span class="bg-gradient-to-r  from-blue-600 via-green-500 to-indigo-400 text-transparent bg-clip-text">React Depth Decorator</span>
    </h2>
    <p class="text-xl text-stone-400">Unleash your creativity with variant-driven styling options</p>
    <footer class="flex flex-col gap-2">
      <div class="flex gap-2">
      <ButtonLink ref='https://youtube.com' text='get started'>
        <RigthArrowIcon />
      </ButtonLink>
      <ButtonLink ref='https://youtube.com' text='github'>
        <GithubIcon />
      </ButtonLink>
      </div>
      <span class="text-stone-400 flex gap-1 items-center text-sm cursor-copy">
        <TerminalIcon /> npm install depth-decorator
      </span>
    </footer>
  </article>
  <article>

  </article>
</section>